In [21]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [22]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [23]:
df.experience = df.experience.fillna("zero")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [24]:
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [31]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [36]:
for i in range(1,0):
    print(i)

In [34]:
 tmp = [1]
for j in range(1, i-1):
     #print(j)
    X=result[-1][j-1]+ result[-1][j]
     #print(X)
    tmp.append(X)

NameError: name 'i' is not defined

In [51]:
numRows=1

In [55]:
result = []
for i in range(1, numRows):
    print(i)

In [56]:
i

1

In [57]:
tmp = [1]
for j in range(1, i-1):
    #print(j)
    X=result[-1][j-1]+ result[-1][j]
    #print(X)
    tmp.append(X)
    print(tmp)

In [58]:
tmp

[1]